.postsBlock {
    padding-top: 10px;
}
.postsBlock h3 {
    margin-bottom: 15px;
}
.newPostBlock {
    margin-bottom: 15px;
}
.newPostBlock textarea {
    display: block;
}
.newPostBlock button {
    display: block;
    padding: 5px 15px;
}

.postsList {
    padding: 5px 0;
}