.header {
  grid-area: header;
  padding: 10px 20px;
  background: #323232;
  color: #fff;
}

.header .logo {
  width: 120px;
  margin-top: 10px;
}

.loginBlock {
  float: right;
  margin-top: 5px;
}

.userInfo button {
  margin-left: 10px;
  padding: 5px 10px;
}
