.nav {
    grid-area: nav;
    background: darkgray;
}
.item .navLink {
    display: block;
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
}

.item .navLink.active {
    background: orange;
    color: #000;
}