.pagination {
    margin-bottom: 20px;
}

.pagination button {
    padding: 4px 8px;
}

.pagination span {
    display: inline-block;
    margin: 3px;
    padding: 2px 8px;
    background: dimgrey;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.pagination .selectedPage {
    background: orange;
    color: black;
}