.sidebar {
    grid-area: sidebar;
    background: yellow;
}

.friendsList {
    padding: 5px 0;
}
.friendsList:before, .friendsList:after {
    clear: both;
    content: "";
    display: block;
}
.friendItem {
    float: left;
    width: 33%;
    margin-bottom: 10px;
    text-align: center;
}
.friendItem img {
    width: 100%;
    padding: 5px;
}
.friendItem span {
    display: inline-block;
    width: 100%;
    padding: 5px;
}