.profileBackground img {
    width: 100%;
}

.profileInfoBlock {
    margin: 15px 0;
    padding: 5px 10px;
}

.profileInfoBlock::after {
    clear: both;
    content: "";
    display: table;
}

.profileAvatar {
    float: left;
    width: 150px;
}

.profileInfoBlock img {
    width: 100%;
    border-radius: 50%;
}

.profileInfo {
    float: left;
    margin-left: 25px;
}

.profileInfo p {
    margin-bottom: 5px;
}

.profileInfo button {
    padding: 5px 15px;
}

.contact {
    margin-bottom: 5px;
    padding-left: 15px;
}
