.profileBackground img {
    width: 100%;
}

.profileInfoBlock {
    margin: 15px 0;
    padding: 5px 10px;
}
.profileInfoBlock::after {
    clear: both;
    content: "";
    display: table;
}
.profileInfoBlock img {
    float: left;
    width: 150px;
}
.profileInfo {
    float: left;
    margin-left: 25px;
}