.item {
    margin-bottom: 15px;
    padding-bottom: 10px;
}

.item::after {
    clear: both;
    content: "";
    display: table;
}

.item img {
    display: block;
    float: left;
    width: 50px;
    border-radius: 25px;
}

.item .itemText {
    float: left;
    margin-left: 15px;
}