.formControl {
  margin-bottom: 10px;
}

.formControl textarea {
  display: block;
  width: 100%;
}

.formControl.error input,
.formControl.error textarea {
  border: 1px solid red;
}

.formControl .errorMessage {
  color: red;
}