.loginPage {
  padding: 10px;
}

.loginForm {
  width: 240px;
  padding: 20px 0;
}

.loginForm input {
  margin-right: 10px;
  padding: 5px 10px;
  outline: none;
}

.formError {
  margin: 5px 0;
  padding: 5px 10px;
  background: #fef4f1;
  color: red;
  border: 1px solid red;
  border-radius: 5px;
}

.loginForm .submitButton {
  margin-top: 15px;
  padding: 5px 15px;
}