.dialogsPage {
    display: grid;
    grid-template-columns: 3fr 9fr;
    padding: 10px;
}
.dialogsContainer {
    padding-right: 10px;
}

.messagesContainer {
    padding-left: 10px;
}

.newMessageBlock {
    margin-top: 20px;
}