.dialogsPage {
    display: grid;
    grid-template-columns: 3fr 9fr;
    padding: 10px;
}
.dialogsContainer {
    padding-right: 10px;
}

.messagesContainer {
    padding-left: 10px;
}

.newMessageBlock {
    margin-top: 20px;
}

.newMessageBlock textarea {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.newMessageBlock button {
    display: block;
    padding: 5px 15px;
}